<!DOCTYPE html>
<html>
  <head>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Event Form</title>
  </head>



  <body>
      <div class="container" >
    <form action="event_form" method="post">
      {% csrf_token %}
<br>
      
      <input
        type="text"
        name="title"
        placeholder="Event Name"
        required
      /><br /><br>
      <input type="text" name="description" placeholder="Event Description" required />
    <br /><br>
      <input
        type="text"
        name="start_date"
        placeholder="Start Date"
        required
      />

      <br /><br>
<input type="text" name="end_date" placeholder="End Date" required/> 

<br /><br />
      <input type="Submit" value="Register" />
    </form>

     <br />
</div>
    <div>
      {% for message in messages %}
      <h3> {{message}} </h3>
      {% endfor %}
    </div>
    </div>
  </body>
</html>
