<!DOCTYPE html>
<html>
  <head>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Events</title>
    <style>
      th,
      td {
        border: 2px black solid;
      }

      .center {
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>

  <body>
    <br />
    <center><h2>Welcome to Events</h2></center>
    <div>
      {% if user.is_authenticated %}
      <h2>Hello, {{user.first_name}}</h2>
      <button><a class="example" href="{% url 'logout' %}">Logout</a></button>
      {% else %}

      <center>
        <div>
          <button>
            <a class="example" href="codechef_management_app/register">
              Register
            </a>
          </button>
        </div>

        <button>
          <a class="example" href="codechef_management_app/login"> Login </a>
        </button>
      </center>
      {% endif %}
    </div>

    <br />
    {% if user.is_superuser %}

    <div>
      <button>
        <a href="event_form"> Add Events </a>
      </button>
    </div>
    <div>

      <button>
        <a href="executive_register"> Add Executives </a>
      </button>
    </div>
    {% endif %} {% if user.is_staff %}

    <div>
      <button>
        <a href="event_form"> Add Events </a>
      </button>
    </div><br>

    <div>
      <button>
        <a class="example" href="event_del"> Delete Event </a>
      </button>
    </div><br><br>

    <div>
      <button>
        <a class="example" href="executive_del"> Delete Executives </a>
      </button>
    </div>

    <div>
      <button>
        <a class="example" href="executive_del"> Delete Participates </a>
      </button>
    </div>


    {% endif %}

    <table class="center">
      <tr>
        <th>Event Title</th>
        <th>Event Description</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
      {% if eve %} {% for e in eve %}

      <tr>
        <td>{{ e.title }}</td>

        <td>{{ e.description}}</td>

        <td>{{ e.start_date}}</td>

        <td>{{ e.end_date}}</td>
      </tr>
      {% endfor %} {% endif %}
    </table>
  </body>
</html>
